@use '@/styles/mixins' as *;

.internalLinkBox {
  min-width: fit-content;
  padding: var(--spacing-100) var(--spacing-200);
  box-shadow: var(--box-shadow-200);
  background-color: hsl(var(--color-light));
  color: hsl(var(--color-link));
  text-align: center;
  text-transform: capitalize;
  @include transitionMain;

  &:hover,
  &:focus {
    transform: scale(1.05);
    background-color: hsl(var(--color-link));
    color: hsl(var(--color-light));
    box-shadow: var(--box-shadow-400);
  }

  &:active {
    box-shadow: var(--box-shadow-200);
    transform: translate(0, 0);
  }

  &:focus-visible {
    @include focused;
  }
}
