@use '@/styles/mixins' as *;

.icon {
    bottom: 0;
    right: 0;

    @include respond(tab){
        bottom: -1em;
        right: -1em;
    }

    @include respond(laptop) {
        bottom: 0;
        right: -2em;
    }
}

.contactLinkContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-200);


    
}