.projectIcons {
  margin-top: var(--spacing-200);
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    '. top .'
    'left . right'
    '. bottom .';
}

.topPosition {
  grid-area: top;
}

.rightPosition {
  grid-area: right;
}

.bottomPosition {
  grid-area: bottom;
}

.leftPosition {
  grid-area: left;
}
