@use '@/styles/mixins' as *;

.flexColRowContainer {
    height: 100%;
    width: 100%;
    border-top: var(--border-400);
    border-bottom: var(--border-400);
    @include flexColumn;

    @include respond(laptop) {
        flex-direction: row;
    }
}