@use '@/styles/mixins' as *;

.heroContent {
  @include colToRowContainer;
  @include containerSection;
  @include flexColumn;
  @include gap(400);
  margin-top: 1em;
  padding: 4em 2em;
  border-bottom: var(--border-200);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1em;

  @include colToRowContainer;

  @include respond(laptop) {
    border-right: var(--border-200);
    border-bottom: none;
  }

  &__cta {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-200);

    @include respond(tab) {
      margin-top: var(--spacing-800);
      flex-direction: row;
      gap: var(--spacing-900);
    }
  }
}
