@use '@/styles/mixins' as *;

.toolbar {
  position: relative;
  align-self: center;
  width: 100%;
  
  padding: var(--spacing-200) var(--spacing-400);
  border: var(--border-400);
  border-radius: var(--br-800);
  box-shadow: var(--box-shadow-300);
  background-color: hsl(var(--color-red));
  display: flex;
  gap: var(--spacing-200);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @include respond(desktop) {
    position: absolute;
  top: var(--spacing-400);
  align-self: flex-start;
  width: max-content;
  overflow: auto;

  }
}
