@use '../../../styles/mixins' as *;

.submitButton {
  display: block;
  width: 100%;
  padding: var(--spacing-100) var(--spacing-200);
  cursor: pointer;
  @include transitionMain;

  &:hover {
    box-shadow: var(--box-shadow-400);
    transform: scale(1.05);
  }

  &:focus-visible {
    @include focused;
  }

  .submitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
