@use '../../../styles/mixins' as *;

.blogPostPage {
  height: 100%;
  width: 100%;
  padding: 2rem 4em;
  padding-top: var(--spacing-800);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-500);

  & .title {
    margin: var(--spacing-400) auto;
    text-transform: capitalize;
    text-align: center;
  }

  & .image {
    height: 16rem;
    width: 20rem;
    object-fit: cover;

    @include respond(tab) {
      height: 20rem;
      width: 32rem;
    }

    @include respond(laptop) {
      width: 34rem;
    }

    @include respond(desktop) {
      height: 22rem;
      width: 40rem;
    }
  }

  & .subContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-800);
  }
  & .date {
    padding: var(--spacing-100);
  }

  & .tags {
    font-size: var(--fs-200);
    padding: var(--spacing-100);
  }
  & .content {
    max-width: 62ch;
    padding: var(--spacing-100) var(--spacing-200);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);

    & img {
      margin: 0 auto;
      width: 16rem;
      height: auto;
      object-fit: cover;
      border: var(--border-200);
      border-radius: var(--br-400);
      box-shadow: var(--box-shadow-200);

      @include respond(tab) {
        width: 20rem;
      }

      @include respond(laptop) {
        width: 24rem;
      }

      @include respond(desktop) {
        width: 28rem;
      }
    }
  }
}
